:root {
    --main-color:#00494e; 
    --sec:#ff5e00;
    --font:rgb(255, 232, 181);
  }
body{
    background-color:var(--font)
}

.main{
    
    background-image: url(img/background-1.png);
    background-size: cover;
    background-color: var(--main-color);
    color: var(--font);
    padding-left: 100px;
    padding-top: 250;
    padding-bottom: 100px;
    font-size: 50px;
    font-family: 'Exo 2', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px rgb(37, 37, 37);
}


.main h3{
    color: rgb(255, 251, 239)
}
.second{
    height: 270px;
     background-color: var(--sec);
     color: var(--font);
     padding: 30px;

}
.second2{
    height: 270px;
     background-color: var(--main-color);
     color: var(--font);
     padding: 30px;

}

.img{
    background-image: url(img/me.jpg);
    background-blend-mode: color-dodge;
    background-size: cover;
    height: 600px;
    filter: sepia(50%);
   
}

.sprite{
    height: 200px;
    color: white;
    background-color:rgb(56, 56, 56)
    
}
.sprite2{
    height: 200px;
    background-color:#17B978

}
.sprite3{
    height: 200px;
    background-color: #1B435D

}
.sprite4{
    height: 200px;
    background-color: #280F34

}
.sprite5{
    height: 200px;
    background-color: #B30753

}

.sprite :hover{
    color: black
}

.col{
    font-size: 150px;
    display: flex;
  justify-content: center;
  align-items: center;
 }

.col .fab {
    
}